# Ignore everything in the data/ directory
data/*

# Allow versioning of specific subdirectories or files
!data/raw_data/
!data/processed_data/
!data/processed_data/faiss_index.idx

# Ignore temporary files
*.tmp
*.temp
